.form {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid #2f2828;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

}

.formTitle {
  font-size: 14px;
  color: #5f5a5a;
}

.formInput {
  width: 200px;
  border: 2px solid #84336f;
  border-radius: 8px;
  outline: transparent;
  background-color: transparent;
  color: #ffffff69;
  padding: 8px;
  transition: border-color 300ms ease;
}

.formInput:focus {
  border-color: #541444aa;
}

.errorMassage {
  font-size: 8px;
  color: #e02e2e;
}

.formBtn {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #84336f;
  -webkit-box-shadow: 0px 0px 17px -3px rgba(83, 21, 76, 1);
  -moz-box-shadow: 0px 0px 17px -3px rgba(83, 21, 76, 1);
  box-shadow: 0px 0px 17px -3px rgba(83, 21, 76, 1);
  border-radius: 10px;
  background-color: transparent;
  color: #84336f;
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px;
  margin: 0 auto;
  margin-top: 20px;
  transition: border-color 300ms ease, color 300ms ease;
}

.formBtn:hover,
.formBtn:focus {
  color: #672858a9;
  border-color: #541444aa;
}