.homeContainer {
  width: 335px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 2px solid #2f2828;
  border-radius: 12px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.homeParagraf {
  display: flex;
  gap: 12px;
  font-size: 14px;
}

.link {
  color: #84336f;
  transition: color 300ms ease-in-out;
}

.link:hover,
.link:focus {
  color: #672858a9;
}

@media screen and (min-width: 768px){
  .homeContainer {
  width: max-content;
  text-align: center;
  gap: 16px;
  font-size: 16px;
}
}
